[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
Flask-Cors = "*"
flask-restplus = "*"
flask-basicauth = "*"
flask-admin = "*"
flask-sqlalchemy = "*"
Flask-Migrate = "*"
Flask-Fixtures = "*"
Flask-Script = "*"
psycopg2 = "*"
gunicorn = "*"
gevent = "*"
greenlet = {version = "*", platform_python_implementation="=='CPython'"}
requests = "*"
raven = {version = "*", extras = ["flask"]}
python-jose = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
codecov = "*"
flake8 = "*"
isort = "*"

[requires]
python_version = "3.6"
